<div ng-controller="editCtrl">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="">
        {{title}}..
        <form ng-submit="updatePost()" id="editform">
          <div class="form-group">
            <input type="hidden" name="id" value="{{orderId}}">
            <input type="hidden" name="" value="PUT" _method="PUT">
            <label for="vehicles">Vehicles</label>
            <select id="vehicle_id" class="form-control select-input"
             name="vehicle_id" ng-custom-change="loadKeys(false)">
              <option value="">Select vehicle</option>
              <option
              ng-repeat="veh in vehicles" value="{{veh.id}}"
              ng-selected="{{ veh.id == vehicleId }}" >
                   {{veh.year}} {{veh.make}} {{veh.model}}
              </option>
            </select>
            <label for="keys">keys</label>
            <select id="key_id" class="form-control select-input"
            name="key_id">
               <option value="">select key</option>
               <option ng-repeat="option in vehicleKeys" value="{{option.id}}"
               ng-selected="{{ option.id == keyId }}">
                   {{option.name}}
               </option>
            </select>
            <label for="technician">Technician</label>
            <select id="technician_id" class="form-control select-input" ng-required=""
            name="technician_id">
               <option value="">select Technician</option>
               <option ng-repeat="option in technicians" value="{{option.id}}"
               ng-selected="{{ option.id == techId }}"
               >
                   {{option.lastname}}, {{option.firstname}}
               </option>
            </select>
          <p id="msg"></p>
          <div class="form-group">
            <div class="col-md-12 col-md-offset-8">
              <button type="submit" id="submit" class="btn btn-default">Save Order</button>
              <a href="/" class="btn btn-default">BACK </a>
            </div>
          </div>
       </form>
      </div>
    </div>


  </div>

</div>
