<div ng-controller="editCtrl">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#!/createPost">Edit Post</a>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="">
        {{title}}..
        <form ng-submit="updatePost()" id="editform">
          <div class="form-group">
            <input type="hidden" name="id" value="{{orderId}}">
            <input type="hidden" name="" value="PUT" _method="PUT">
            <label for="vehicles">Vehicles</label>
            <select ng-model="vehicleId" id="vehicle_id" class="form-control select-input"
            ng-change="loadKeys()" name="vehicle_id" ng-selected="vehicleId">
               <option ng-repeat="option in vehicles" value="{{option.id}}"
               ng-selected="selecedOption(option.id,vehicleId)">
                   {{option.year}} {{option.make}} {{option.model}}
               </option>
            </select>
            <label for="keys">keys</label>
            <select ng-model="keyId" id="key_id" class="form-control select-input"
            name="key_id">
               <option value="">select key</option>
               <option ng-repeat="option in vehicleKeys" value="{{option.id}}">
                   {{option.name}}
               </option>
            </select>
            <label for="technician">Technician</label>
            <select ng-model="techId" id="technician_id" class="form-control select-input" ng-required=""
            name="technician_id">
               <option value="">select Technician</option>
               <option ng-repeat="option in technicians" value="{{option.id}}">
                   {{option.lastname}}, {{option.firstname}}
               </option>
            </select>
          <p id="msg"></p>
          <div class="form-group">
            <div class="col-md-12 col-md-offset-8">
              <button type="submit" id="submit" class="btn btn-default">Save Post</button>
              <a href="/" class="btn btn-default">BACK </a>
            </div>
          </div>
       </form>


      </div>
    </div>


  </div>

</div>
